@model IEnumerable<CoursesManagement.Domain.Course>

@{
    ViewData["Title"] = "Courses List";
}

<div class="row">
    <h2>Courses List</h2>
    <table class="table">
        <thead>
        <td>Course</td>
        <td>Teacher</td>
        <td>Students</td>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td><a href="/Home/Detail?id=@course.Id">@course.Name</a></td>
                    <td>@course?.Teacher?.Name</td>
                    <td>
                        @foreach (var student in course?.Students)
                        {
                            @(student?.Name + " ")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
